<form class="d-flex mx-auto">
    <div class="input-group">
        <input type="text" class="form-control" style="width: 400px" placeholder="بحث عن منتتجات" />
        <select class="form-control" style="width: 160px">
            <option>التصنيفات</option>
            <option>التصنيفات</option>
            <option>التصنيفات</option>
            <option>التصنيفات</option>
            <option>التصنيفات</option>
        </select>
        <button class="btn btn-primary" type="button">
            <i class="lni lni-search-alt text-white"></i>
        </button>
    </div>
</form>