{% extends "base.html" %}
{% load i18n my_filters %}
{% block content %}
    {% include "common/page_title.html" with title="Cart" %}
    <div class="container my-5">
      {% if cart_products %}
        {% for product in cart_products %}
          <div class="card my-2">
            <div class="card-body">
              <div class="row align-items-center">
                <div class="col-md-2 text-center mb-2">
                  {% if product.image %}
                    <img src="{{ product.image.url }}" alt="{{ product.name }}" title="{{ product.name }}" width="150" class="img-thumbnail" />
                  {% else %}
                    <img src="https://placehold.co/150" alt="{{ product.name }}" title="{{ product.name }}" width="150" class="img-thumbnail" />
                  {% endif %}
                </div>
                <div class="col my-auto text-center">
                  {{ product.name }}
                </div>
                <div class="col-md-2 col-xs-6 my-auto text-center">
                  <strong>{{ product.price|currency }}</strong>
                </div>
                <div class="col-md-2 my-auto text-center">
                  <button class="btn btn-secondary my-2" type="button" data-url="{% url 'store.cart_remove' product.id %}" onclick="cartRemove(event, this)">
                    <i class="lni lni-trash-can text-white"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
        <div class="row bd-highlight">
          <div class="col-md-4">
            <div class="card">
              <div class="card-body">
                <table class="table table-striped">
                  <tbody>
                    <tr>
                      <td>{% trans "Number of items" %}</td>
                      <td>{{ cart_items_count|default:0 }}</td>
                    </tr>
                    <tr>
                      <td>{% trans "Total" %}</td>
                      <td>{{ cart_total_price|default:0|currency }}</td>
                    </tr>
                  </tbody>
                </table>
                <div class="d-grid gap-2">
                  <a href="{% url 'store.checkout' %}" class="btn btn-primary">
                    {% trans "Continue to checkout" %}
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      {% else %}
        <div class="h-100 p-5 bg-white border rounded-3 text-center">
          <p class="fs-1">{% trans "Your cart is empty" %}</p>
          <p>
            <i class="lni lni-shopping-basket text-muted" style="font-size: 5rem;"></i>
          </p>
        </div>
      {% endif %}
    </div>
{% endblock content %}