{% extends "base.html" %}
{% load i18n %}
{% block content %}
    <div class="container my-5">
      <section>
        <div class="row">
          <div class="col-md-3">
            <div class="list-group">
              <a href="#"
                class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">الكل</a>
              <a href="#"
                class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">العمل
                عن بعد</a>
              <a href="#"
                class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">البرمجة</a>
              <a href="#"
                class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">التصميم</a>
              <a href="#"
                class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">تسويق</a>
            </div>
          </div>
          <div class="col-md-9">
            <div class="row">
              <div class="col-md-4">
                <div class="product card mb-4">
                  <img src="https://placehold.co/300" class="card-img-top" alt="..." />
                  <div class="card-img-overlay d-flex flex-column align-items-center justify-content-center">
                    <a class="btn btn-outline-light" href="product.html">إضافة إلى السلة</a>
                    <a class="btn btn-outline-light mt-2" href="product.html">استعراض</a>
                  </div>
                  <div class="card-body">
                    <h6 class="text-muted">اسم الكاتب</h6>
                    <h6 class="card-title">أساسيات إطار العمل Vue.js</h6>
                    <strong class="fw-bold text-success">20$</strong>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="product card mb-4">
                  <img src="https://placehold.co/300" class="card-img-top" alt="..." />
                  <div class="card-img-overlay d-flex flex-column align-items-center justify-content-center">
                    <a class="btn btn-outline-light" href="product.html">إضافة إلى السلة</a>
                    <a class="btn btn-outline-light mt-2" href="product.html">استعراض</a>
                  </div>
                  <div class="card-body">
                    <h6 class="text-muted">اسم الكاتب</h6>
                    <h6 class="card-title">أنظمة التشغيل للمبرمجين</h6>
                    <strong class="fw-bold text-success">20$</strong>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="product card mb-4">
                  <img src="https://placehold.co/300" class="card-img-top" alt="..." />
                  <div class="card-img-overlay d-flex flex-column align-items-center justify-content-center">
                    <a class="btn btn-outline-light" href="product.html">إضافة إلى السلة</a>
                    <a class="btn btn-outline-light mt-2" href="product.html">استعراض</a>
                  </div>
                  <div class="card-body">
                    <h6 class="text-muted">اسم الكاتب</h6>
                    <h6 class="card-title">أساسيات إطار العمل Vue.js</h6>
                    <strong class="fw-bold text-success">20$</strong>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="product card mb-4">
                  <img src="https://placehold.co/300" class="card-img-top" alt="..." />
                  <div class="card-img-overlay d-flex flex-column align-items-center justify-content-center">
                    <a class="btn btn-outline-light" href="product.html">إضافة إلى السلة</a>
                    <a class="btn btn-outline-light mt-2" href="product.html">استعراض</a>
                  </div>
                  <div class="card-body">
                    <h6 class="text-muted">اسم الكاتب</h6>
                    <h6 class="card-title">أنظمة التشغيل للمبرمجين</h6>
                    <strong class="fw-bold text-success">20$</strong>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="product card mb-4">
                  <img src="https://placehold.co/300" class="card-img-top" alt="..." />
                  <div class="card-img-overlay d-flex flex-column align-items-center justify-content-center">
                    <a class="btn btn-outline-light" href="product.html">إضافة إلى السلة</a>
                    <a class="btn btn-outline-light mt-2" href="product.html">استعراض</a>
                  </div>
                  <div class="card-body">
                    <h6 class="text-muted">اسم الكاتب</h6>
                    <h6 class="card-title">أنظمة التشغيل للمبرمجين</h6>
                    <strong class="fw-bold text-success">20$</strong>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="product card mb-4">
                  <img src="https://placehold.co/300" class="card-img-top" alt="..." />
                  <div class="card-img-overlay d-flex flex-column align-items-center justify-content-center">
                    <a class="btn btn-outline-light" href="product.html">إضافة إلى السلة</a>
                    <a class="btn btn-outline-light mt-2" href="product.html">استعراض</a>
                  </div>
                  <div class="card-body">
                    <h6 class="text-muted">اسم الكاتب</h6>
                    <h6 class="card-title">أساسيات تصميم الرسوميات</h6>
                    <strong class="fw-bold text-success">20$</strong>
                  </div>
                </div>
              </div>
            </div>
            <nav>
              <ul class="pagination justify-content-center">
                <li class="disabled">
                  <a class="page-link" href="#" tabindex="-1" aria-disabled="true">السابق</a>
                </li>
                <li>
                  <a class="page-link" href="#">التالي</a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </section>
    </div>
{%endblock content %}