{% extends 'base.html' %}
{% load i18n %}
{% block content %}

{% include "partials/slider.html" %}

    <div class="container my-5">
      <section>
        <div class="col-md-12 mb-5">
          <p class="h1 text-center text-secondary">كتب مميزة</p>
        </div>
        <div class="row">
          <div class="col-md-3">
            <div class="product card mb-4">
              <img src="https://placehold.co/300" class="card-img-top" alt="..." />
              <div class="card-img-overlay d-flex flex-column align-items-center justify-content-center">
                <a class="btn btn-outline-light" href="product/1">إضافة إلى السلة</a>
                <a class="btn btn-outline-light mt-2" href="product/1">استعراض</a>
              </div>
              <div class="card-body">
                <h6 class="text-muted">اسم الكاتب</h6>
                <h6 class="card-title">أساسيات إطار العمل Vue.js</h6>
                <strong class="fw-bold text-success">20$</strong>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="product card mb-4">
              <img src="https://placehold.co/300" class="card-img-top" alt="..." />
              <div class="card-img-overlay d-flex flex-column align-items-center justify-content-center">
                <a class="btn btn-outline-light" href="product.html">إضافة إلى السلة</a>
                <a class="btn btn-outline-light mt-2" href="product.html">استعراض</a>
              </div>
              <div class="card-body">
                <h6 class="text-muted">اسم الكاتب</h6>
                <h6 class="card-title">أنظمة التشغيل للمبرمجين</h6>
                <strong class="fw-bold text-success">20$</strong>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="product card mb-4">
              <img src="https://placehold.co/300" class="card-img-top" alt="..." />
              <div class="card-img-overlay d-flex flex-column align-items-center justify-content-center">
                <a class="btn btn-outline-light" href="product.html">إضافة إلى السلة</a>
                <a class="btn btn-outline-light mt-2" href="product.html">استعراض</a>
              </div>
              <div class="card-body">
                <h6 class="text-muted">اسم الكاتب</h6>
                <h6 class="card-title">أنظمة التشغيل للمبرمجين</h6>
                <strong class="fw-bold text-success">20$</strong>
              </div>
            </div>
          </div>

          <div class="col-md-3">
            <div class="product card mb-4">
              <img src="https://placehold.co/300" class="card-img-top" alt="..." />
              <div class="card-img-overlay d-flex flex-column align-items-center justify-content-center">
                <a class="btn btn-outline-light" href="product.html">إضافة إلى السلة</a>
                <a class="btn btn-outline-light mt-2" href="product.html">استعراض</a>
              </div>
              <div class="card-body">
                <h6 class="text-muted">اسم الكاتب</h6>
                <h6 class="card-title">أساسيات تصميم الرسوميات</h6>
                <strong class="fw-bold text-success">20$</strong>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="product card mb-4">
              <img src="https://placehold.co/300" class="card-img-top" alt="..." />
              <div class="card-img-overlay d-flex flex-column align-items-center justify-content-center">
                <a class="btn btn-outline-light" href="product.html">إضافة إلى السلة</a>
                <a class="btn btn-outline-light mt-2" href="product.html">استعراض</a>
              </div>
              <div class="card-body">
                <h6 class="text-muted">اسم الكاتب</h6>
                <h6 class="card-title">أساسيات إطار العمل Vue.js</h6>
                <strong class="fw-bold text-success">20$</strong>
              </div>
            </div>
          </div>

          <div class="col-md-3">
            <div class="product card mb-4">
              <img src="https://placehold.co/300" class="card-img-top" alt="..." />
              <div class="card-img-overlay d-flex flex-column align-items-center justify-content-center">
                <a class="btn btn-outline-light" href="product.html">إضافة إلى السلة</a>
                <a class="btn btn-outline-light mt-2" href="product.html">استعراض</a>
              </div>
              <div class="card-body">
                <h6 class="text-muted">اسم الكاتب</h6>
                <h6 class="card-title">أنظمة التشغيل للمبرمجين</h6>
                <strong class="fw-bold text-success">20$</strong>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="product card mb-4">
              <img src="https://placehold.co/300" class="card-img-top" alt="..." />
              <div class="card-img-overlay d-flex flex-column align-items-center justify-content-center">
                <a class="btn btn-outline-light" href="product.html">إضافة إلى السلة</a>
                <a class="btn btn-outline-light mt-2" href="product.html">استعراض</a>
              </div>
              <div class="card-body">
                <h6 class="text-muted">اسم الكاتب</h6>
                <h6 class="card-title">أنظمة التشغيل للمبرمجين</h6>
                <strong class="fw-bold text-success">20$</strong>
              </div>
            </div>
          </div>

          <div class="col-md-3">
            <div class="product card mb-4">
              <img src="https://placehold.co/300" class="card-img-top" alt="..." />
              <div class="card-img-overlay d-flex flex-column align-items-center justify-content-center">
                <a class="btn btn-outline-light" href="product.html">إضافة إلى السلة</a>
                <a class="btn btn-outline-light mt-2" href="product.html">استعراض</a>
              </div>
              <div class="card-body">
                <h6 class="text-muted">اسم الكاتب</h6>
                <h6 class="card-title">أساسيات تصميم الرسوميات</h6>
                <strong class="fw-bold text-success">20$</strong>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
{% endblock %}